# Ignore virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables (API keys)
.env
groq_key.txt
gemini_key.txt
snti-chatbot-sa.json
*service-account*.json

# System files
.DS_Store
Thumbs.db

# VS Code settings (optional)
.vscode/
